.sidebar {
  position: fixed;
  background: linear-gradient(to bottom, lightblue, white);
  color: rgb(7, 7, 80);
  overflow-y: auto;
  height: 100vh; /* Full viewport height for the sidebar */
  width: 250px; /* Adjust width as needed */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  font-size: 90%;
  font-weight: 490;
  position: relative;
  top: -20px;
  left: -10px;
  margin: 19px 0;
}

.sidebar ul li a {
  text-decoration: none;
  border-radius: 12px;
  display: block;
  padding: 10px 15px; /* Extra padding for spacing from the left */
  position: relative;
}

.sidebar ul li a:hover {
  background: aqua;
  transition: background-color 0.4s ease;
}

.sidebar ul li a.active {
  background: linear-gradient(to left, white, snow);
  color: rgb(7, 7, 80);
}

/* Add a small line on the left side of the active item */
.sidebar ul li a.active::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 0.1px;
  height: 100%;
  width: 6px; /* Width of the line */
  background-color: rgb(7, 7, 80); /* Color of the line */
  border-top-left-radius: 60px; /* Match button's rounded corners */
  border-bottom-left-radius: 60px; /* Match button's rounded corners */
}

.sidebar .sub-options {
  position: relative;
  top: 24px;
  list-style-type: none;
  padding-left: 20px; /* Indent sub-options */
}

.sidebar .sub-options li {
  font-size: 85%;
  margin: 5px 0;
}

.sidebar .sub-options li a {
  text-decoration: none;
  color: rgb(7, 7, 80);
  border-radius: 8px;
  display: block;
  padding: 8px 12px;
}

.sidebar .sub-options li a:hover {
  background: lightblue;
  transition: background-color 0.3s ease;
}

