.dashboard-table {
  margin-left: 275px;
  width: 70%;
  border-collapse: collapse;
  overflow-x: auto; /* Allows horizontal scrolling on smaller screens */
}



.dashboard-table, th, td {
  border: 1px solid #ddd;
  overflow-y: auto;
}

.dashboard-table th, td {
  padding: 10px;
  text-align: left;
}

.dashboard-table th {
  background-color: #f4f4f4;
}

.low-stock-header {
  background-color: #ffcccc;
  color: red;
  font-weight: bold;
  text-align: center;
}

.low-stock-row {
  background-color: #ffe6e6;
}

.highlight-row {
  background-color: #ffcccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-table {
    display: block;
    width: 100%;
  }

  .dashboard-table thead {
    display: none; /* Hide the header */
  }

  .dashboard-table tbody, .dashboard-table tr {
    display: block;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* Add some shadow for better separation */
    margin-bottom: 10px; /* Space between rows */
  }

  .dashboard-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: right; /* Align text to the right */
  }

  .dashboard-table td::before {
    content: attr(data-label); /* Add a label before the cell content */
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-block;
  }
}
