.spinner-container {
  display: flex;
  position: relative;
  top: 200px;
  left: 500px;
  height: 100vh; /* Takes full viewport height */
  background-color: #f8f9fa; /* Light background color */
}

.loading-text {
  position: relative;
  left: -34px;
  font-size: 1.2rem;
  color: #555;
  margin-top: 20px;
}
