.sidebar {
  position: fixed;
  background-color: #010f20;
  color: #fff;
  overflow-y: auto;
}

.sidebar h2 {
  text-decoration-style: solid;
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background-color: #071530;
}
